[submodule "HW.1.1.InterthreadedDialogue"]
	path = HW.1.1.InterthreadedDialogue
	url = https://github.com/imLIVI/InterthreadedDialogue-Multithreading.git
[submodule "HW.1.2.InterthreadDialogWithCounter"]
	path = HW.1.2.InterthreadDialogWithCounter
	url = https://github.com/imLIVI/InterthreadDialogWithCounter-Multithreading.git
[submodule "HW.1.3.ArraysCalculator"]
	path = HW.1.3.ArraysCalculator
	url = https://github.com/imLIVI/ArraysCalculator-Multithreading.git
[submodule "HW2.1.CarDealership-Synchronization"]
	path = HW2.1.CarDealership-Synchronization
	url = https://github.com/imLIVI/CarDealership-Multithreading.git
[submodule "HW2.2.AdvancedCarDealership-Synchronization"]
	path = HW2.2.AdvancedCarDealership-Synchronization
	url = https://github.com/imLIVI/AdvancedCarDealership-Multithreading.git

